*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#111;
color:white;
}

header{
background:#000;
padding:20px;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

nav ul{
list-style:none;
display:flex;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.home{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.home span{
color:#00adb5;
}

button{
padding:10px 20px;
margin-top:20px;
border:none;
background:#00adb5;
color:white;
cursor:pointer;
}

.about, .projects, .contact{
padding:80px 20px;
text-align:center;
}

.project-card{
background:#1c1c1c;
margin:20px auto;
padding:20px;
width:300px;
border-radius:10px;
}
footer{
text-align:center;
padding:20px;
background:#000;
}